<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
    <script src="main.js"></script>
    <script src="ajaxToServer.js"></script>

    <title>Traffic</title>
</head>
<body ng-app="traffic" ng-controller="trafficController as tc">
<div class="wrapper">
    <div class="hourGrid1">
        <div class="logo">App Name</div>

        <h4>Origin</h4>
        <select class="originInput" ng-init="originChoice = 'unselected'" ng-model="originChoice">
            <option value="unselected"></option>
            <option ng-repeat="on in tc.onRamps" id="{{on.name}}" lat="{{on.lat}}" long="{{on.long}}" value="{{on.id}}" ng-hide="destinationChoice == on.id">{{on.name}}</option>
        </select>
        <h4>Destination</h4>
        <select class="destinationInput" ng-init="destinationChoice = 'unselected'" ng-model="destinationChoice">
            <option value="unselected"></option>
            <option ng-repeat="off in tc.offRamps" id="{{off.name}}" lat="{{off.lat}}" long="{{off.long}} "value="{{off.id}}" ng-hide="originChoice == off.id">{{off.name}}</option>
        </select>
        <h4>Day</h4>
        <select class="day">
            <option value="2">Monday</option>
            <option value="3">Tuesday</option>
            <option value="4">Wednesday</option>
            <option value="5">Thursday</option>
            <option value="6">Friday</option>
            <option value="7">Saturday</option>
            <option value="1">Sunday</option>
        </select>

    </div>
    <div class="hourGrid2">
    </div>
    <div id="map">
    </div>
    <div id="graph">
    </div>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnPnsXAC24VPjLv495rQkGstP1q-j9U8Y"> //&callback=initMap
</script>

<script async defer>
    var dummyData = {
        origin: 'San Luis Rey', //starting station
        destination: 'Presidio', //ending station
        length: 4, //distance of trip in miles
        sunday: {
            '0000': 3,
            '0100': 3,
            '0200': 3,
            '0300': 3,
            '0400': 3 ,
            '0500': 3 ,
            '0600': 4 ,
            '0700': 5 ,
            '0800': 5 ,
            '0900': 5 ,
            '1000': 5 ,
            '1100': 6 ,
            '1200': 8 ,
            '1300': 7 ,
            '1400': 6 ,
            '1500': 6 ,
            '1600': 7 ,
            '1700': 8 ,
            '1800': 6 ,
            '1900': 5 ,
            '2000': 5 ,
            '2100': 4 ,
            '2200': 3 ,
            '2300': 3
        },
        monday: {
            '0000': 3 ,
            '0100': 3 ,
            '0200': 3 ,
            '0300': 3 ,
            '0400': 3 ,
            '0500': 3 ,
            '0600': 4 ,
            '0700': 9 ,
            '0800': 12 ,
            '0900': 7 ,
            '1000': 4 ,
            '1100': 4 ,
            '1200': 5 ,
            '1300': 6 ,
            '1400': 6 ,
            '1500': 8 ,
            '1600': 11 ,
            '1700': 15 ,
            '1800': 10 ,
            '1900': 8 ,
            '2000': 4 ,
            '2100': 4 ,
            '2200': 3 ,
            '2300': 3
        },
        tuesday: {
            '0000': 3 ,
            '0100': 3 ,
            '0200': 3 ,
            '0300': 3 ,
            '0400': 3 ,
            '0500': 3 ,
            '0600': 4 ,
            '0700': 7 ,
            '0800': 10 ,
            '0900': 8 ,
            '1000': 4 ,
            '1100': 5 ,
            '1200': 6 ,
            '1300': 7 ,
            '1400': 8 ,
            '1500': 9 ,
            '1600': 14 ,
            '1700': 17 ,
            '1800': 9 ,
            '1900': 8 ,
            '2000': 5 ,
            '2100': 6 ,
            '2200': 3 ,
            '2300': 3
        },
        wednesday: {
            '0000': 3 ,
            '0100': 3 ,
            '0200': 3 ,
            '0300': 3 ,
            '0400': 3 ,
            '0500': 3 ,
            '0600': 6 ,
            '0700': 8 ,
            '0800': 9 ,
            '0900': 10 ,
            '1000': 8 ,
            '1100': 6 ,
            '1200': 5 ,
            '1300': 5 ,
            '1400': 7 ,
            '1500': 9 ,
            '1600': 9 ,
            '1700': 17 ,
            '1800': 15 ,
            '1900': 10 ,
            '2000': 7 ,
            '2100': 5 ,
            '2200': 5 ,
            '2300': 3
        },
        thursday: {
            '0000': 3 ,
            '0100': 3 ,
            '0200': 3 ,
            '0300': 3 ,
            '0400': 3 ,
            '0500': 4 ,
            '0600': 6 ,
            '0700': 10 ,
            '0800': 11 ,
            '0900': 6 ,
            '1000': 5 ,
            '1100': 6 ,
            '1200': 5 ,
            '1300': 5 ,
            '1400': 6 ,
            '1500': 7 ,
            '1600': 9 ,
            '1700': 11 ,
            '1800': 16 ,
            '1900': 9 ,
            '2000': 6 ,
            '2100': 6 ,
            '2200': 5 ,
            '2300': 4
        },
        friday: {
            '0000': 3 ,
            '0100': 3 ,
            '0200': 3 ,
            '0300': 3 ,
            '0400': 3 ,
            '0500': 3 ,
            '0600': 4 ,
            '0700': 10 ,
            '0800': 10 ,
            '0900': 6 ,
            '1000': 5 ,
            '1100': 5 ,
            '1200': 6 ,
            '1300': 7 ,
            '1400': 8 ,
            '1500': 8 ,
            '1600': 13 ,
            '1700': 13 ,
            '1800': 12 ,
            '1900': 9 ,
            '2000': 6 ,
            '2100': 5 ,
            '2200': 4 ,
            '2300': 4
        },
        saturday: {
            '0000': 6 ,
            '0100': 5 ,
            '0200': 4 ,
            '0300': 4 ,
            '0400': 3 ,
            '0500': 3 ,
            '0600': 4 ,
            '0700': 4 ,
            '0800': 5 ,
            '0900': 5 ,
            '1000': 5 ,
            '1100': 6 ,
            '1200': 6 ,
            '1300': 6 ,
            '1400': 6 ,
            '1500': 8 ,
            '1600': 8 ,
            '1700': 8 ,
            '1800': 9 ,
            '1900': 8 ,
            '2000': 6 ,
            '2100': 6 ,
            '2200': 5 ,
            '2300': 5
        }
    };
    //since the property names are strings, it's best to use bracket notation here,
    //for instance:
    //        console.log('duration on sunday at midnight: ' + dummyData.sunday['0000'] + ' minutes');
    //        console.log('duration on monday at noon: ' + dummyData.monday['1200']+ ' minutes');
    //        console.log('duration on tuesday at 3pm: ' + dummyData.tuesday['1500']+ ' minutes');
    //        console.log('sunday: ', dummyData.sunday);

    var total_data = [];

    function graph_data() {
        for (i = 0; i < 2400; i+=100) {
            var time = null;
            var time_string = i.toString();

            if (time_string.length == 1) {
                time = "000" + time_string;
            }
            else if (time_string.length == 2) {
                time = "00" + time_string;
            }
            else if (time_string.length == 3) {
                time = "0" + time_string;
            }
            else {
                time = time_string;
            }
            data_set={hour: time, sunday: dummyData.sunday[time], monday: dummyData.monday[time],
                tuesday: dummyData.tuesday[time], wednesday: dummyData.wednesday[time],
                thursday: dummyData.thursday[time],  friday: dummyData.friday[time], saturday: dummyData.saturday[time]};
            total_data.push(data_set);
        }
    }

    graph_data();

    new Morris.Line({
        // ID of the element in which to draw the chart.
        element: 'graph',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.

        parseTime: false,

        data: total_data,

        // The name of the data record attribute that contains x-values.
        xkey: 'hour',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['sunday','monday','tuesday','wednesday','thursday','friday','saturday'],
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['sunday','monday','tuesday','wednesday','thursday','friday','saturday']

        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
    });

</script>
</body>
</html>

