<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="main.js"></script>
    <script src="ajaxToServer.js"></script>

    <title>Traffic</title>
</head>
<body ng-app="traffic" ng-controller="trafficController as tc">
<div class="wrapper">
    <div class="hourGrid1">
        <div class="logo">App Name</div>
        <h4>Origin</h4>
        <select class="originInput" ng-init="originChoice = 'unselected'" ng-model="originChoice">
            <option value="unselected"></option>
            <option ng-repeat="location in tc.locations" value="{{location}}" ng-hide="destinationChoice == location">{{location}}</option>
        </select>
        <h4>Destination</h4>
        <select class="destinationInput" ng-init="destinationChoice = 'unselected'" ng-model="destinationChoice">
            <option value="unselected"></option>
            <option ng-repeat="location in tc.locations" value="{{location}}" ng-hide="originChoice == location">{{location}}</option>
        </select>
        <h4>Day</h4>
        <select class="day">
            <option value="unselected"></option>
            <option value="monday">Monday</option>
            <option value="tuesday">Tuesday</option>
            <option value="wednesday">Wednesday</option>
            <option value="thurday">Thursday</option>
            <option value="friday">Friday</option>
            <option value="saturday">Saturday</option>
            <option value="sunday">Sunday</option>
        </select>

    </div>
    <div class="hourGrid2">
    </div>
    <div id="map">
    </div>
</div>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnPnsXAC24VPjLv495rQkGstP1q-j9U8Y&callback=initMap">
</script>
</body>
</html>