
select {
    width: 95%;
    background-color: rgba(255, 255, 255, .85);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);

}
select option {
    background-color: rgba(255, 255, 255, .85);
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
select:focus {
    outline: 0;
}
h4 {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    margin: 5px 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin:0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    box-sizing:border-box;
}

.hourGrid1, .hourGrid2 {
    height:100vh;
    width: 20vw;
    display: inline-block;
    float:left;
}

.hourGrid1 {
    background-color: #292929;
    padding: 1vw;
    box-sizing: border-box;
}

.hourGrid2{
    /*background-color: #0fb8ad;*/
}

.hours {
    height: 4.17vh;
    line-height: 4.17vh;
    padding: 0 10px;
}

.hours:nth-child(even){
    background: #f0f0f0;
}

.hours:nth-child(odd){
    background: #ffffff;
}

#map {
    height:50vh;
    width:60vw;
    display: inline-block;
    /*background-color: #4cae4c;*/
    /*background-image: url(images/mapPlaceholder.png);*/
    float: left;
}

#graph {
    height:50vh;
    width:60vw;
    display: inline-block;
    /*background-color: #4cae4c;*/
    /*background-image: url(images/mapPlaceholder.png);*/
    float: left;
}

#graph .morris-hover {
    float:none;
    position: absolute;
    text-align: center;
    z-index:100;
    background-color: rgba(255,255,255,0.8);
    border: 2px solid rgba(200,200,200,0.8);
    border-radius: 10px;
}

.logo {
    margin: 1vh 0;
    font-size: 2em;
    color: #ffffff;
}

input {
    font-size:18px;
    padding: .7vw 1vw;
    display:block;
    width:16vw;
    border:none;
    border-bottom:1px solid #757575;
}