
select {
    width: 15%;
    background-color: rgba(255, 255, 255, .85);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 1px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
    display: inline-block;
    margin: 0 0.5vw;

}
select option {
    background-color: rgba(255, 255, 255, .85);
    font-weight: 100;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
select:focus {
    outline: 0;
}
h4 {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    margin-left: 1.5vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
}

body {
    margin:0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    box-sizing:border-box;
}

.hourGrid2 {
    height:100vh;
    width: 20vw;
    display: inline-block;
    float:right;
}

.titleBar {
    width: 80vw;
    height: 6vh;
    min-height: 55px;
    background-color: #292929;
    padding: 0 1vw;
    box-sizing: border-box;
}

.hours {
    height: 4.17vh;
    line-height: 4.17vh;
    padding: 0 10px;
}

.hours:nth-child(even){
    background: #f0f0f0;
}

.hours:nth-child(odd){
    background: #ffffff;
}

#map, #graph {
    height:47vh;
    width:80vw;
    display: inline-block;
    /*background-color: #4cae4c;*/
    /*background-image: url(images/mapPlaceholder.png);*/
    float: left;
}

#graph .morris-hover {
    float:none;
    position: absolute;
    text-align: center;
    z-index:100;
    background-color: rgba(255,255,255,0.8);
    /*border: 2px solid #f0e4d3;*/
    border-radius: 10px;
}

.logo {
    /*margin: 1vh 0;*/
    font-size: 2em;
    color: #ffffff;
    display: inline-block;
    line-height: 55px;

}

input {
    font-size:18px;
    padding: .7vw 1vw;
    display:block;
    width:16vw;
    border:none;
    border-bottom:1px solid #757575;
}